name: test

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:

jobs:
  raku:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        raku-version:
          - 'latest'
          - '2020.05.1'
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: Raku/setup-raku@v1
        with:
          raku-version: ${{ matrix.raku-version }}
      - name: Platform specific setup
        if: contains(matrix.os, 'windows')
        run: |
          choco install make
          choco install mingw
          refreshenv
      - name: Install Dependencies
        run: |
          zef install --/test App::Prove6
          zef install --/test LibraryMake
          zef install --deps-only .
          zef build .
      - name: Run Tests
        run: prove6 -I. t
